.pro>select{
    display:block;
    width: 100%;
    height: 60px;
}

.btn-buy{
    border-radius: 2rem;
    background:black;
    color:white;
}
.btn-search{
    border-radius: 2rem;
    background:white;
    color:black;
    border: 1px solid black;
}
.pro>.c1{
    margin-right: 30px;
}
.tabs{
    display: flex;
    justify-content: space-around;
    margin-top:70px;
    border-bottom: 1px solid #e5e5e5;
}
ul>li>a {
    text-decoration: none;
color: black}

#d0 div{
    display:none
}
#d0>div:target{
    width:100%;
    height:100px;
	display:block;
	color:black;
}
#d6 img{
    margin-right:200px; 
}
.tabs{ 
    list-style:none; 
    padding:0
}
.tabs a{
    text-decoration:none;
	color:#000;
	padding:10px 61.5px;
	display:inline-block;
}
.tabs>li{
    float:left;
    border-bottom:1px solid #000;
}
.tabs>.active{
    border:1px solid #000;
    border-bottom:0;
}
#more{
    margin-top: 180px;
    text-align: center;  
}
#more h4{
    background: #000;
    color: #fff;
}

