@media screen and (min-width:992px){
    .my-footer_h{height:25rem;}
    .my-header_h{height:6rem;}

}@media screen and (max-width:991px){
    .my-footer_h{height:40rem;}
    .my-header_h{height:12rem;}
}

.carousel-control-prev,.carousel-control-next{
    width:3%;height:8.5%;
    top:105%;
    background: #aaa;
    border-radius: 1rem;
    border: 1px solid #000;
}
.carousel-control-prev{
    left:40%;
}
.carousel-control-next{
    right: 40%;
}
.carousel-indicators li{
    width:0.5rem;
    height:0.5rem;
    border-radius: 50%;
    background-color:#aaa;
    margin: 0 4px;
    top:100%;
}
.carousel-indicators .active{
    background: #000;
    width:0.6rem;
    height:0.6rem;
}
.btn-buy{
    border-radius: 2rem;
}

.btn1{
    background: black;
    color:white;
}

